@{
    ViewData["Title"] = "Edit Contact";
}

<div class="text-center">
    <h1 class="display-4">Edit Contact</h1>
</div>

<form>
    <div class="form-group">
        <label for="exampleInputName1">Name</label>
        <input type="text" class="form-control" id="exampleInputName1" placeholder="Type the user's name">
    </div>
    <div class="form-group">
        <label for="exampleInputCpf1">CPF</label>
        <input type="number" class="form-control" id="exampleInputCpf1" placeholder="Type the user's CPF">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Type the user's email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Type the user's password">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
    <a class="btn btn-secondary btn-block" role="button" asp-controller="Contact" asp-action="Index">Cancel</a>
</form>